<footer id="footer" class="bg-light <% if (device !== 'phone') { %>fixed-bottom <% } %>text-center py-1">
    <div class="container">
        <% if (device === 'phone') { %>
            <div class="col text-center">«Бадминтон и ром» &copy;</div>
        <% } else { %>
            <div class="row">
                <div class="col text-end">«Бадминтон и ром» &copy;</div>
                <div class="col-auto text-center"><img src="/assets/images/dobrograd-badminton.svg" width=25%></img></div>
                <div class="col text-start">Сделано в Доброграде с любовью</div>
            </div>
        <% } %>
    </div>
</footer>
