<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Бадминтон и ром</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>
<div id="login" class="d-flex align-items-center min-vh-100">
    <div class="container text-center">
        <section class="prompt">
            <h1>Вход</h1>
            <% if (hasMessages) { %>
                <section class="messages">
                    <% messages.forEach(function(message) { %>
                        <p><%= message %></p>
                    <% }); %>
                </section>
            <% } %>
            <form action="/api/auth/login/password" method="post">
                <section>
                    <input id="username" name="username" type="text" autocomplete="username"
                           placeholder="Почта или телефон" required
                           autofocus>
                </section>
                <section>
                    <input id="current-password" name="password" type="password"
                           autocomplete="current-password" placeholder="Пароль" required>
                </section>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-outline-primary">Войти</button>
            </form>
            <hr>
            <p><a href="/">На главную</a></p>
            <p class="help">Нет аккаунта? <a href="/api/auth/signup">Регистрация</a></p>
            <section style="margin-top: 2.5em">
                <%- include('social'); %>
            </section>
        </section>
    </div>
</div>
<%- include('footer', { device: device }); %>
</body>
</html>
