<a href="https://github.com/vasilevichra/badmr" target="_blank" style="margin-right: 0.5em"><img src="/assets/icons/github.svg" width="20px"></a>
<a href="https://t.me/vasilevichr" target="_blank" style="margin-right: 0.5em"><img src="/assets/icons/telegram.svg" width="20px"></a>
<a href="https://vk.com/badmr" target="_blank"><img src="/assets/icons/vk.svg" width="28px"></a>
