@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway", sans-serif;
  color: #007df9;
}

/* строка поиска игроков */
#player div.search {
  width: calc(100% - 88px);
}

.login {
  margin: 1em 0 0 0;
  color: #007df9;
}

.social {
  margin: 1.35em 0 0 0;
}

.tournament {
  margin: 1em 0 3em 0;
  position: relative;
}

.settings {
  margin: 1em 0 3em 0;
  position: relative;
}

.cort {
  margin: 1em 0 3em 0;
  position: relative;
}

.player {
  margin: 1em 0 3em 0;
  position: relative;
}

.player-selectors {
  display: inline;
  margin: 0 1em;
}

.select {
  margin: 1em 0 3em 0;
  position: relative;
}

.select-form-table-2 {
  margin: 1em;
}

.select-form-info {
  margin: 1em 0 1em 0;
}

.select-form-buttons {
  margin: 0 0 3em 0;
}

.match {
  margin: 1em 0 3em 0;
  position: relative;
}

.game {
  margin: 1em 0 3em 0;
  position: relative;
}

.game-input-left {
  margin: 2px 1px 2px 0;
}

.game-input-right {
  margin: 2px 0 2px 1px;
}

.game-form-info {
  margin: 0.5em;
}

.game-form-button-submit {
  margin: 0 0 3em 0;
}

.game-form-horizontal-inputs {
  margin: 1em 0 1em 0;
}

.player-archive {
  margin: 1em 0 3em 0;
  position: relative;
}

/* строка поиска игроков в архиве */
#player-archive .fixed-table-toolbar {
/*#player-archive div.search {*/
  /*width: 100%;*/
  margin:0 auto;
}

/* активная кнопка перелистывания страниц */
.page-item.active a {
  background-color: #007df9;
}

/* поля ввода с курсором по центру */
#game input[type=text],
#login input[type=text],
#login input[type=password] {
  text-align: center;
}

/* буква группы в рейтинге у игроков */
.group-letter {
  position: relative;
}

.group-letter-bg {
  position: absolute;
  z-index: -1;
  color: rgba(128, 128, 128, 0.3);
}

/* Отступ для дня рождения на формах регистрации*/
#signup select[name="dd"] {
  margin-left: 10px;
}

#signup section {
  margin-bottom: 1em;
}

.sex form {
  width: 200px;
  margin: 0 auto;
}

.sex input[type="radio"] {
  display: none;
}

.sex input[type="radio"]:checked + label {
  color: #fffffb;
  background-image: linear-gradient(to bottom, #61605e, #a4a4a2);
}

.sex label[id="male"],
.sex label[id="female"] {
  display: block;
  float: left;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  border: 1px solid #9e9fa1;
  cursor: pointer;
}

.sex label[id="female"] {
  margin-left: -1px;
}

.sex label[id="male"]:hover,
.sex label[id="female"]:hover {
  background-image: linear-gradient(to bottom, #fff, #b9b9b9);
}
