@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway", sans-serif;
  color: #007df9;
}

/* строка поиска игроков */
#player div.search {
  width: calc(100% - 166px) !important;
}

.login {
  margin: 1em 0 0 0;
  color: #007df9;
}

.header button > p {
  margin-top: 1em;
}

.logout {
  margin: 2em 0 0 0;
}

.social {
  margin: 2.2em 0 0 0;
}

.tournament {
  margin: 1em 0 3em 0;
  position: relative;
}

.settings {
  margin: 1em 0 3em 0;
  position: relative;
}

.cort {
  margin: 1em 0 3em 0;
  position: relative;
}

.player {
  margin: 1em 0 3em 0;
  position: relative;
}

.player-selectors {
  display: inline;
}

.select {
  margin: 1em 0 3em 0;
  position: relative;
}

.select-form-table-2 {
  margin: 1em;
}

.select-form-info {
  margin: 1em 0 1em 0;
}

.select-form-buttons {
  margin: 0 0 3em 0;
}

.match {
  margin: 1em 0 3em 0;
  position: relative;
}

.game {
  margin: 1em 0 3em 0;
  position: relative;
}

.game-input {
}

.game-input-left {
  margin: 2px 1px 2px 0;
}

.game-input-right {
  margin: 2px 0 2px 1px;
}

.game-form-buttons {
  margin: 0 0 3em 0;
}

.game-form-info {
  margin: 0.5em;
}

.game-form-button-submit {
  margin: 0 0 3em 0;
}

.game-form-button-reset {
  margin: 0 0 3em 0;
}

.game-form-horizontal-inputs {
  margin: 1em 0 1em 0;
}

.match-history-players td {
  width: auto !important;
  padding: 6px;
}

.match-history-info {
  font-size: 85%;
}

.match-history-players-name {
  font-size: 85%;
  display: flex;
  justify-content: left;
}

.match-history-players-name img {
  width: 19px;
  height: 19px;
}

.match-history-game-col {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.match-history-delta {
  line-height: 50%;
  text-align: center;
  font-size: 65%;
}

.match-history-delta-col {
  line-height: 70%;
  text-align: center;
  font-size: 70%;
}

.match-history-score {
  text-align: center;
  align-content: center;
  font-size: 110%;
}

.match-history-duration {
  text-align: center;
  align-content: center;
  line-height: 50%;
  font-size: 60%;
}

.player-archive {
  margin: 1em 0 3em 0;
  position: relative;
}

/* строка поиска игроков в архиве */
#player-archive .fixed-table-toolbar {
  margin: 0 auto;
}

/* активная кнопка перелистывания страниц */
.page-item.active a {
  background-color: #007df9;
}

/* поля ввода с курсором по центру */
#game input[type=text],
#login input[type=text],
#login input[type=password] {
  text-align: center;
}

/* буква группы в рейтинге у игроков */
.group-letter {
  position: relative;
}

.group-letter-bg {
  position: absolute;
  z-index: -1;
}

/* Отступ для дня рождения на формах регистрации*/
#signup select[name="dd"] {
  margin-left: 10px;
}

#signup section {
  margin-bottom: 1em;
}

.sex form {
  width: 200px;
  margin: 0 auto;
}

.sex input[type="radio"] {
  display: none;
}

.sex input[type="radio"]:checked + label {
  color: #fffffb;
  background-image: linear-gradient(to bottom, #61605e, #a4a4a2);
}

.sex label[id="male"],
.sex label[id="female"] {
  display: block;
  float: left;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  border: 1px solid #9e9fa1;
  cursor: pointer;
}

.sex label[id="female"] {
  margin-left: -1px;
}

.sex label[id="male"]:hover,
.sex label[id="female"]:hover {
  background-image: linear-gradient(to bottom, #fff, #b9b9b9);
}

.secondary-info {
  color: rgba(128, 128, 128, 0.3);
}

.rating-plus {
  color: rgba(0, 153, 0, 1) !important;
}

.rating-minus {
  color: rgba(255, 0, 0, 1) !important;
}
