@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway", sans-serif;
  color: #007df9;
}

div.search {
  width: 93%;
}

div.pagination {
  width: 64%;
}

.tournament {
  margin: 1em 0 3em 0;
  position: relative;
}

.tournament img {
  height: 100%;
  width: 100%;
  border-radius: 50%
}

.settings {
  margin: 1em 0 3em 0;
  position: relative;
}

.cort {
  margin: 1em 0 3em 0;
  position: relative;
}

.player {
  margin: 1em 0 3em 0;
  position: relative;
}

.select {
  margin: 1em 0 3em 0;
  position: relative;
}

.select-form-table-2 {
  margin: 1em;
}

.select-form-info {
  margin: 1em 0 1em 0;
}

.select-form-buttons {
  margin: 0 0 3em 0;
}

.match {
  margin: 1em 0 3em 0;
  position: relative;
}

.game {
  margin: 1em 0 3em 0;
  position: relative;
}

.game-input-left {
  margin: 2px 1px 2px 0;
}

.game-input-right {
  margin: 2px 0 2px 1px;
}

.game-form-info {
  margin: 0.5em;
}

.game-form-button-submit {
  margin: 0 0 3em 0;
}

.game-form-horizontal-inputs {
  margin: 1em 0 1em 0;
}

.player-archive {
  margin: 1em 0 3em 0;
  position: relative;
}