[Unit]
Description=Amateur badminton rating scoring system
# Documentation=https://github.com/vasilevichra/badmr/README.md
# Author: Vasilevich Roman

[Service]
ExecStart=/home/r/.nvm/versions/node/v23.7.0/bin/npm run prod
ExecStop=/bin/kill $MAINPID
PIDFile=/home/r/badmr/badmr.pid

WorkingDirectory=/home/r/badmr/

RestartSec=10
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=badmr

Environment=PATH=/usr/bin:/usr/local/bin:/home/r/.nvm/versions/node/v23.7.0/bin

User=r
Group=r

[Install]
WantedBy=multi-user.target